@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
$backgroundColor: #3498db;
$accentColor: rgb(39, 60, 117); //rgb(39, 60, 117) sieht auch ok aus
$windowTextColor: #ecf0f1; //yellow sah (interessant aus

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: $backgroundColor;
  overflow-x: hidden;
}

/**
  Container
*/
#container {
  // width: 95vw;
  margin: 2.5vh 2.5vw;
  height: 95vh;
  background-color: #ecf0f1;
}

#container div.transform_part {
  position: absolute;
  -webkit-transition: all 6s ease-out;
  -moz-transition: all 6s ease-out;
  -ms-transition: all 6s ease-out;
  -o-transition: all 6s ease-out;
  transition: all 6s ease-out;
}

/**
  Wrapper
*/

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba($accentColor, 0.8);
  color: $windowTextColor;
  width: 300px;
  max-height: 100vh;
  overflow: auto;
  text-align: center;
}

.hidden-box {
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -ms-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
  overflow: hidden;
  max-height: 0;
}

#window-box {
  padding: 1rem;
}

.config-list {
  display: flex;
  flex-direction: column;
}

.config-box {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: 'Chelsea Market', cursive;
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -ms-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
  overflow: hidden;
  max-height: 0;

  input[type='radio'],
  input[type='checkbox'] {
    display: none;
  }

  .button {
    padding: 0.5rem;
  }

  input[type='radio']+label::before,
  input[type='checkbox']+label::before {
    margin-top: 0.15rem;
    margin-left: 1rem;
    width: 15px;
    height: 15px;
    border: 2px solid rgba($accentColor, 0.8);
    background-color: #fff;
    display: block;
    content: '';
    float: left;
    margin-right: 5px;
  }

  input[type='radio']+label::before {
    border-radius: 15px;
  }

  input[type='radio']:checked+label::before {
    box-shadow: inset 0px 0px 0px 3px #fff;
    background-color: rgba($accentColor, 0.8);
  }

  input[type='checkbox']:checked+label::before {
    box-shadow: inset 0px 0px 0px 3px #fff;
    background-color: rgba($accentColor, 0.8);
  }

  input[type='number'],
  input[type='color'] {
    margin-top: 0.15rem;
    margin-left: 1rem;
    width: 30px;
    height: 15px;
    border: 2px solid rgba($accentColor, 0.8);
    background-color: #fff;
    display: block;
    content: '';
    float: left;
    margin-right: 5px;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
  }

}

/**
  Heading/Version
*/

#heading {
  color: $windowTextColor;
  text-shadow: 0 2.8px 2.2px rgba(255, 255, 255, 0.02),
    0 6.7px 5.3px rgba(255, 255, 255, 0.028),
    0 12.5px 10px rgba(255, 255, 255, 0.035),
    0 22.3px 17.9px rgba(255, 255, 255, 0.042),
    0 41.8px 33.4px rgba(255, 255, 255, 0.05),
    0 100px 80px rgba(255, 255, 255, 0.07);
  font-family: 'Chelsea Market', cursive;
  margin: 0.6rem;
}

#version {
  @extend #heading;
  margin-bottom: 1rem;
}

/**
  TextArea
*/
#fancytext {
  width: 99% !important;
  min-height: 5rem;
  overflow: auto;
  font-size: 1.2rem;
  border: 1px solid $windowTextColor;
  padding: 0;
}

/**
  Buttons
*/

.button {
  border: 1px solid $windowTextColor;
  color: white;
  background-color: rgba($accentColor, 0.7);

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(1px);
  }
}

.largeButton {
  width: 100%;
  box-shadow: 0 2.8px 2.2px rgba(255, 255, 255, 0.02),
    0 6.7px 5.3px rgba(255, 255, 255, 0.028),
    0 12.5px 10px rgba(255, 255, 255, 0.035),
    0 22.3px 17.9px rgba(255, 255, 255, 0.042),
    0 41.8px 33.4px rgba(255, 255, 255, 0.05),
    0 100px 80px rgba(255, 255, 255, 0.07);
}

#controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .button:first-child {
    margin: 0.5rem 0;
    flex-grow: 2;
    flex-basis: 100%;
  }

  .button {
    flex-basis: 48%;
    //margin: 0.3rem 0.2rem;
    padding: 0.3rem;
    font-size: 1.2rem;
  }
}

/**
  Utils
*/

.visible {
  max-height: 1000vh;
}


/**
  Loading Screen
*/

.whitescreen {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $backgroundColor;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #f1c40f;
  border-bottom: 16px solid #f1c40f;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}